---
layout: main.njk
---
<h1 class="mt-8 text-center text-4xl">dwkns</h1>
<p class="text-center">A blog about business, code and UX</p>

{# {% console posts, "Posts", {title: "Posts"} %} #}

<ul class="flex flex-col gap-4 mt-10 max-w-4xl mx-auto" >
  {% for post in posts %}
      <a class="hover:bg-orange-50" href="/{{ post.slug }}">
        <li class="px-8 py-4 border border-gray-200 rounded-md min-h-32  text-center" >
          <p class="text-sm font-light">{{post.date}}</p>
          <p class="text-2xl font-bold"> {{ post.title }}</p>
          <p class="text-left text-xl font-light max-w-prose"> {{ post.summary }}</p>
         
          </li>
      </a>
  {% endfor %} 
</ul>